/* 仅对 Chrome, Edge, 和 Safari 有效 */
::-webkit-scrollbar {
  width: 0;
  /* 将滚动条宽度设置为0来隐藏它 */
  height: 0;
  /* 同样适用于水平滚动条 */
}

.no-select {
  user-select: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
}

#app {
  min-height: 100vh;
}

.v-expansion-panel-text:has(.v-card) {
  .v-expansion-panel-text__wrapper {
    padding: 0px;
  }
}

.hover-underline {
  text-decoration: underline;
  color: blue;
  text-decoration-color: blue;

  &:hover {
    color: green;
    text-decoration-color: green;
  }
}

.clickable {
  cursor: pointer; /* 设置为点击的手形图标 */
}

.v-timeline {
  .v-virtual-scroll__item {
    display: grid;
  justify-content: start;
    grid-auto-flow: dense;
    position: relative;
    padding-right: 10px;
  }
}
